@page
@model Dealership.Pages.AboutModel
@{
}
<div class="container content py-4 px-4" style="height: 100%; width: 50%;">
    <h1 class="h1">About us!</h1>
    <p class="p">
        Welcome to CAS - Cruisers and Sportsters, where the rumble of engines meets the passion of riders in the pursuit of the ultimate two-wheeled adventure. Nestled in the heart of Eindhoven, our dealership stands as the premier destination for motorcycle enthusiasts, offering an unrivaled experience for those who crave the thrill of the open road. As you step into our showroom, you'll find yourself immersed in a world of craftsmanship and innovation. Our collection boasts an array of cutting-edge bikes, meticulously curated to capture the essence of freedom and exhilaration.
    </p>
    <br>
    <p class="p">
        At CAS, we understand that every rider is unique, and our diverse selection caters to both seasoned road warriors and those embarking on their first journey on two wheels. Whether you're drawn to the laid-back allure of cruisers or the dynamic performance of sportsters, our knowledgeable and passionate staff is here to guide you through the selection process, ensuring you find the perfect ride that resonates with your individual style and preferences.
    </p>
    <br>
    <p class="p">
        Beyond our impressive inventory, CAS is more than just a dealership; it's a community of like-minded individuals who share a love for the thrill of the ride. Our commitment to customer satisfaction extends beyond the purchase, with top-notch service and maintenance facilities, ensuring your motorcycle remains in peak condition for every adventure that lies ahead. Join us at CAS - where the road begins, and the journey never ends.
    </p>
</div>