@page
@model IndexModel
@{
    
}

<div class="container content py-4 px-4" style="height: 100%; width: 50%;">
    <h1 class="h1">Welcome to our Dealership!</h1>
    <p class="p">
        Welcome to CAS - Cruisers and Sportsters, the premier destination for motorcycle enthusiasts seeking the thrill of the open road. Our motorbike dealership prides itself on offering an extensive collection of cutting-edge bikes that cater to both seasoned riders and newcomers alike. As you explore our website, you'll discover a seamless user experience that goes beyond browsing.
    </p>
    <h3 class="h3">Our Dealership:</h3>
    <img src="~/css/pictures/dealershipFront.jpeg" style="height: 250px; width: 250px; border-radius: 10px;">
    <h2 class="h2">Why use our website?</h2>
    <p class="p">One standout feature is our user-friendly appointment request system, allowing you to schedule a personalized visit to our physical dealership. We understand that connecting with a bike involves more than just pictures and specifications. By utilizing our appointment feature, you can immerse yourself in the world of two-wheelers, interacting with our knowledgeable staff, and test-riding your dream bike. At CAS, we believe that the journey begins the moment you step into our dealership, and we're committed to making that experience as exciting and informative as possible.</p>
</div>
