@page
@model Dealership.Pages.RegisterModel
@{
    ViewData["Title"] = "Register"; 
}

<div class="container content py-4 px-4" style="height: 100%; width: 50%;">
    <figure class="text-center">
        <h1>Create an Account</h1>
    </figure>
    <div class="container login">
        <form method="post">  
            <div class="mb-3 mt-3">
                <figure class="text-center">
                    <label class="form-label label-center" for="name">Full Name: </label>
                    <input asp-for="User.Name" class="form-control mx-auto" style="width: 30%;" type="text" name="Name" 
                               id="name">
                    <span asp-validation-for="Name" style="color: red;"></span>
                </figure>
            </div>
            <div class="mb-3 mt-3">
                <figure class="text-center">
                    <label class="form-label label-center" for="email">E-mail: </label>
                    <input asp-for="User.Email" class="form-control mx-auto" style="width: 30%;" type="email" name="Email"
                           id="email">
                    <span asp-validation-for="Email" style="color: red;"></span>
                    @if (ViewData["UserExists"] != null && (bool)ViewData["UserExists"])
                    {
                        <p style="color:red;">This E-mail is already registered.</p>
                    }
                    @if (ViewData["NotRegularExpression"] != null && (bool)ViewData["NotRegularExpression"])
                    {
                        <p style="color:red;">E-mail in invalid format or Password is invalid (Password must be at least 8 characters long, may include Capital Letters and cannot contain special characters).</p>
                    }
                    
                </figure>
            </div>
            <div class="mb-3 mt-3">
                <figure class="text-center">
                    <label class="form-label" for="password">Password:</label>
                    <input asp-for="User.Password" class="form-control mx-auto" style="width: 30%;" type="password" name="Password"
                           id="password">
                    <span asp-validation-for="Password" style="color: red;"></span>
                </figure>
            </div>
            <div class="mb-3 mt-3">
                <input class="form-control mx-auto" style="width: 30%; background-color: rgb(85, 85, 85); border: 1px; border-color: black; font-weight: 700; color: black; text-decoration:underline;" type="submit" name="register-submit"
                       id="register-submit" value="Register">
            </div>
            
        </form>
    </div>
</div>